<div class="container-fluid">

	<h1 class="aboutusheadline">ABOUT CREATIVE CONCRETE</h1>

		<h5 class="aboutusheadline2"><i class="fa fa-quote-left" aria-hidden="true"></i>Customer Service is our specialty<i class="fa fa-quote-right" aria-hidden="true"></i> 
		</h5>

	<div class="row justify-content-center">
		<div class="col-md-8">
			<div class="row justify-content-center">
				<div class="col-sm-11 aboutusbo">
					<div class="row">
						<div class="col-md-3"><img class="bopicture" src="<%= asset_path('bobotran.png') %>" width="100%"/></div>
						<div class="col-md-9 bowriteup"><h4>Bo Tucker - Owner</h4>

						<p>	Our company consists of distinct and experienced employees who will make the process of obtaining a new patio, driveway, swimming pool deck, sidewalk, etc. an enjoyable one.</p>

						<p>	My workers are well qualified to take on any task necessary to deliver to you an extremely well fabricated product that you will enjoy for many years to come.</p>

						<p>	I will be available at any time during the construction to answer any questions and to ensure customer satisfaction. I have over 35 years experience in the construction industry. For 28 of those years I have owned this successful business, and have worked hard to give this company a great name.</p>

						<p>I hope to continue this legacy by doing work for you.</p>
						</div>
					</div>
				</div>
				<div class="col-sm-11 aboutusnick">
					<div class="row">
						<div class="col-md-3"><img class="nickpicture" src="<%= asset_path('nickertran.png') %>" width="100%"/></div>
						<div class="col-md-9 nickwriteup">
						<h4>Nick Tucker	- Customer Service</h4>

						<p>Nick is the third generation of the Creative Concrete family. Nick has been doing concrete for ten years and is head of our customer service department. He provides customers with estimates and answers any questions, and is also part of the working crew, specializing in finishing and stamping.</p>

						<p>Nick, along with Bo, will take care of any and every part of your concrete pouring experience.</p>

						</div>
					</div>
				</div>			
			</div>
		</div>
		<div class="col-md-4">
			<div class="row">
				<div class="col-sm-11 sidebar">
				<h4>CONTACT INFO</h4>
				<h6>Address:</h6>
				<p>Creative Concrete Inc.<br>
				801 North Davis Road<br>
				Elma, New York 14059<br></p>

				<h6>Phone:</h6>
				<p>716.652.1110<br>
				<h6>Fax:</h6>
				<p>716.652.1113</p>

				<div class="sidefreeestimate">
					<a href="/contact">FREE ESTIMATE</a>
				</div>

			</div>
			</div>
		</div>
	</div>
</div>