<div class="container">
	<h1 class="faqsheadline">FAQS</h1>
	<div class="row justify-content-center">
		<div class="col-md-8">
		<div class="col-sm-12 faqsbg lowermargin">
			<div class="row">
				<div class="col-md-4"><img class="" src="<%= asset_path('stamped_european_fan.jpg') %>" width="100%"/></div>
				<div class="col-md-8">
				<h6>What is the process for stamping concrete?</h6>
				<p>The process of stamping concrete is done at the end of the finishing stages. The concrete is poured between forms. Then, a series of finishing techniques take place to make the concrete smooth, flat and level. After this is done, a release or powder is thrown on top of the surface of the concrete to allow the stamps to press into the concrete and make its marks without the stamps sticking to the surface. This is just an overview of what is done. This process takes years to perfect, and our company has the experience to create a beautiful product.</p>				
				</div>
			</div>
			<div class="row">
				<div class="col-md-4"><img class="" src="<%= asset_path('concrete_driveway.jpg') %>" width="100%"/></div>
				<div class="col-md-8">
				<h6>How do you maintain stamped concrete?</h6>
				<p>There are some guidelines for people to do when dealing with the upkeep of your beautiful concrete. One thing that our company does to help maintain it would be to clean and seal your driveway, patio etc. This is done within a few days after the pouring process. We will come back out to your residence and perform this operation. This should not be a one-time deal. In order to better prevent cracks and fading, this process should be done every year, if not every other year. We have stamped driveways and patios that we have done 15 years ago that still look brand new because of the owners coming back to us every year, asking for a re-wash and seal. Just take a look at this picture. This driveway is 15 years old! So I highly recommend this process. This is the most important thing to do to maintain concrete, in my opinion.</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4"><img class="" src="<%= asset_path('stamped_herringbone.jpg') %>" width="100%"/></div>
				<div class="col-md-8">
				<h6>How do I prevent slippery concrete surfaces?</h6>
				<p>It is true. Concrete can become slippery, especially around pools and other areas where water is involved. Here at Creative Concrete, we give options to help prevent a fall or accident in two ways. The first option is geared towards non-stamped concrete. What we do is after the finishing process is done, we will add a fine grade broom finish to the surface of the concrete to add plenty of traction. This will help prevent any falls or slips. The second option is geared toward stamped concrete and is a little more complex. When our crew comes to clean and seal the concrete, a product called shark grip will be added to the sealer solution, if requested. This product is composed of small, fine grade silica pieces that will make the concrete less slippery.</p>
				</div>
			</div>
		</div>
		</div>

		<div class="col-md-4">
			<div class="row justify-content-center">
				<div class="col-sm-11 sidebar lowermargin">
				<h4>CONTACT INFO</h4>
				<h6>Address:</h6>
				<p>Creative Concrete Inc.<br>
				801 North Davis Road<br>
				Elma, New York 14059<br></p>

				<h6>Phone:</h6>
				<p>716.652.1110<br>
				<h6>Fax:</h6>
				<p>716.652.1113</p>

				<div class="sidefreeestimate">
					<a href="/contact">FREE ESTIMATE</a>
				</div>

			</div>
			</div>
		</div>

	</div>
</div>
</div>